In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import sklearn as sks

In [8]:
data_file = "Resources/ASvsNonAS.csv"

df = pd.read_csv(data_file, encoding='ISO-8859-1')
df.head()

,Rk,Player,Year,Age,Tm,Lg,G,PA,AB,R,...,SF,GDP,SB,CS,BA,OBP,SLG,OPS,Pos,All Star and/or HOF (played prior to 1933 when AS Game was created)
0,1,Barry Bonds,2002,37,SFG,NL,143,612,403,117,...,2.0,4.0,9.0,2.0,0.370,0.582,0.799,1.381,*7/DH,1
1,2,Barry Bonds,2004,39,SFG,NL,147,617,373,129,...,3.0,5.0,6.0,1.0,0.362,0.609,0.812,1.422,*7/HD,1
2,3,Barry Bonds,2001,36,SFG,NL,153,664,476,129,...,2.0,5.0,13.0,3.0,0.328,0.515,0.863,1.379,*7/DH,1
3,4,Babe Ruth,1920,25,NYY,AL,142,617,458,158,...,NaN,NaN,14.0,14.0,0.376,0.532,0.847,1.379,978/3H1,1
4,5,Babe Ruth,1923,28,NYY,AL,152,699,522,151,...,NaN,NaN,17.0,21.0,0.393,0.545,0.764,1.309,97/83,1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 30 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Rk                                                                   3000 non-null   int64
 1   Player                                                               3000 non-null   object
 2   Year                                                                 3000 non-null   int64
 3   Age                                                                  3000 non-null   int64
 4   Tm                                                                   3000 non-null   object
 5   Lg                                                                   3000 non-null   object
 6   G                                                                    3000 non-null   int64
 7   PA                                                                   3000 non-null   int64
 8   AB                                                                   3000 non-null   int64
 9   R                                                                    3000 non-null   int64
 10  H                                                                    3000 non-null   int64
 11  2B                                                                   3000 non-null   int64
 12  3B                                                                   3000 non-null   int64
 13  HR                                                                   3000 non-null   int64
 14  RBI                                                                  3000 non-null   int64
 15  BB                                                                   3000 non-null   int64
 16  IBB                                                                  1761 non-null   float64
 17  SO                                                                   3000 non-null   int64
 18  HBP                                                                  2806 non-null   float64
 19  SH                                                                   2689 non-null   float64
 20  SF                                                                   1342 non-null   float64
 21  GDP                                                                  1597 non-null   float64
 22  SB                                                                   2821 non-null   float64
 23  CS                                                                   2038 non-null   float64
 24  BA                                                                   3000 non-null   float64
 25  OBP                                                                  3000 non-null   float64
 26  SLG                                                                  3000 non-null   float64
 27  OPS                                                                  3000 non-null   float64
 28  Pos                                                                  3000 non-null   object
 29  All Star and/or HOF (played prior to 1933 when AS Game was created)  3000 non-null   int64
dtypes: float64(11), int64(15), object(4)
memory usage: 703.2+ KB

In [13]:
#Fill all the emapty values with 0
df = df.fillna(value=0)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 30 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Rk                                                                   3000 non-null   int64
 1   Player                                                               3000 non-null   object
 2   Year                                                                 3000 non-null   int64
 3   Age                                                                  3000 non-null   int64
 4   Tm                                                                   3000 non-null   object
 5   Lg                                                                   3000 non-null   object
 6   G                                                                    3000 non-null   int64
 7   PA                                                                   3000 non-null   int64
 8   AB                                                                   3000 non-null   int64
 9   R                                                                    3000 non-null   int64
 10  H                                                                    3000 non-null   int64
 11  2B                                                                   3000 non-null   int64
 12  3B                                                                   3000 non-null   int64
 13  HR                                                                   3000 non-null   int64
 14  RBI                                                                  3000 non-null   int64
 15  BB                                                                   3000 non-null   int64
 16  IBB                                                                  3000 non-null   float64
 17  SO                                                                   3000 non-null   int64
 18  HBP                                                                  3000 non-null   float64
 19  SH                                                                   3000 non-null   float64
 20  SF                                                                   3000 non-null   float64
 21  GDP                                                                  3000 non-null   float64
 22  SB                                                                   3000 non-null   float64
 23  CS                                                                   3000 non-null   float64
 24  BA                                                                   3000 non-null   float64
 25  OBP                                                                  3000 non-null   float64
 26  SLG                                                                  3000 non-null   float64
 27  OPS                                                                  3000 non-null   float64
 28  Pos                                                                  3000 non-null   object
 29  All Star and/or HOF (played prior to 1933 when AS Game was created)  3000 non-null   int64
dtypes: float64(11), int64(15), object(4)
memory usage: 703.2+ KB

In [15]:
#Check to see if there any NaN values
df.isna()

,Rk,Player,Year,Age,Tm,Lg,G,PA,AB,R,...,SF,GDP,SB,CS,BA,OBP,SLG,OPS,Pos,All Star and/or HOF (played prior to 1933 when AS Game was created)
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
#drop the name player column
df.drop("Player", axis = 1, inplace=True)
df.head()

,Rk,Year,Age,Tm,Lg,G,PA,AB,R,H,...,SF,GDP,SB,CS,BA,OBP,SLG,OPS,Pos,All Star and/or HOF (played prior to 1933 when AS Game was created)
0,1,2002,37,SFG,NL,143,612,403,117,149,...,2.0,4.0,9.0,2.0,0.370,0.582,0.799,1.381,*7/DH,1
1,2,2004,39,SFG,NL,147,617,373,129,135,...,3.0,5.0,6.0,1.0,0.362,0.609,0.812,1.422,*7/HD,1
2,3,2001,36,SFG,NL,153,664,476,129,156,...,2.0,5.0,13.0,3.0,0.328,0.515,0.863,1.379,*7/DH,1
3,4,1920,25,NYY,AL,142,617,458,158,172,...,0.0,0.0,14.0,14.0,0.376,0.532,0.847,1.379,978/3H1,1
4,5,1923,28,NYY,AL,152,699,522,151,205,...,0.0,0.0,17.0,21.0,0.393,0.545,0.764,1.309,97/83,1

In [19]:
#Rename the All Star and/or HOF (played prior to 1933 when AS Game was created) column to Classification
df.rename(columns={"All Star and/or HOF (played prior to 1933 when AS Game was created)":"Classification"}, inplace=True)

In [21]:
df.columns

Index(['Rk', 'Year', 'Age', 'Tm', 'Lg', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B',
       'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'GDP', 'SB', 'CS',
       'BA', 'OBP', 'SLG', 'OPS', 'Pos', 'Classification'],
      dtype='object')