In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import sklearn as sks

In [2]:
train_data_file = "Resources/19332020Main.csv"
test_data_file = "Resources/2021Players.csv"


train_df = pd.read_csv(train_data_file, encoding='ISO-8859-1')
test_df = pd.read_csv(test_data_file, encoding='ISO-8859-1')

In [3]:
test_df.head()

,Rk,Player,AB,Year,Age,Tm,Lg,G,PA,R,...,SF,GDP,SB,CS,BA,OBP,SLG,OPS,Pos,All Star
0,1,Whit Merrifield,664,2021,32,KCR,AL,162,720,97,...,12,12,40,4,0.277,0.317,0.395,0.711,*49/7D,1
1,2,Marcus Semien,652,2021,30,TOR,AL,162,724,115,...,3,9,15,1,0.265,0.334,0.538,0.873,*46/D,1
2,3,Bo Bichette,640,2021,23,TOR,AL,159,690,121,...,4,10,25,1,0.298,0.344,0.484,0.828,*6D,1
3,4,Ozzie Albies,629,2021,24,ATL,NL,156,686,103,...,7,4,20,4,0.259,0.311,0.488,0.799,*4,1
4,5,Jonathan Schoop,623,2021,29,DET,AL,156,674,85,...,8,15,2,0,0.278,0.321,0.435,0.756,*34D/5,1

In [4]:
train_df.head()

,Rk,Player,AB,Year,Age,Tm,Lg,G,PA,R,...,SF,GDP,SB,CS,BA,OBP,SLG,OPS,Pos,All Star
0,1,Juan Soto,154,2020,21,WSN,NL,47,196,39,...,0.0,1.0,6,2,0.351,0.490,0.695,1.185,*7/9D,1
1,2,Nelson Cruz,185,2020,39,MIN,AL,53,214,33,...,0.0,8.0,0,0,0.303,0.397,0.595,0.992,*D/H,1
2,3,DJ LeMahieu,195,2020,31,NYY,AL,50,216,41,...,1.0,3.0,3,0,0.364,0.421,0.590,1.011,*435/HD,1
3,4,Mike Trout,199,2020,28,LAA,AL,53,241,41,...,4.0,1.0,1,1,0.281,0.390,0.603,0.993,*8/D,1
4,5,Freddie Freeman,214,2020,30,ATL,NL,60,262,51,...,0.0,6.0,2,0,0.341,0.462,0.640,1.102,*3/HD,1

In [5]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rk        533 non-null    int64
 1   Player    533 non-null    object
 2   AB        533 non-null    int64
 3   Year      533 non-null    int64
 4   Age       533 non-null    int64
 5   Tm        533 non-null    object
 6   Lg        533 non-null    object
 7   G         533 non-null    int64
 8   PA        533 non-null    int64
 9   R         533 non-null    int64
 10  H         533 non-null    int64
 11  2B        533 non-null    int64
 12  3B        533 non-null    int64
 13  HR        533 non-null    int64
 14  RBI       533 non-null    int64
 15  BB        533 non-null    int64
 16  IBB       533 non-null    int64
 17  SO        533 non-null    int64
 18  HBP       533 non-null    int64
 19  SH        533 non-null    int64
 20  SF        533 non-null    int64
 21  GDP       533 non-null    int64
 22  SB        533 non-null    int64
 23  CS        533 non-null    int64
 24  BA        533 non-null    float64
 25  OBP       533 non-null    float64
 26  SLG       533 non-null    float64
 27  OPS       533 non-null    float64
 28  Pos       533 non-null    object
 29  All Star  533 non-null    int64
dtypes: float64(4), int64(22), object(4)
memory usage: 125.0+ KB

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3254 entries, 0 to 3253
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rk        3254 non-null   int64
 1   Player    3254 non-null   object
 2   AB        3254 non-null   int64
 3   Year      3254 non-null   int64
 4   Age       3254 non-null   int64
 5   Tm        3254 non-null   object
 6   Lg        3254 non-null   object
 7   G         3254 non-null   int64
 8   PA        3254 non-null   int64
 9   R         3254 non-null   int64
 10  H         3254 non-null   int64
 11  2B        3254 non-null   int64
 12  3B        3254 non-null   int64
 13  HR        3254 non-null   int64
 14  RBI       3254 non-null   int64
 15  BB        3254 non-null   int64
 16  IBB       3254 non-null   int64
 17  SO        3254 non-null   int64
 18  HBP       3254 non-null   int64
 19  SH        3254 non-null   int64
 20  SF        2589 non-null   float64
 21  GDP       3130 non-null   float64
 22  SB        3254 non-null   int64
 23  CS        3254 non-null   int64
 24  BA        3254 non-null   float64
 25  OBP       3254 non-null   float64
 26  SLG       3254 non-null   float64
 27  OPS       3254 non-null   float64
 28  Pos       3254 non-null   object
 29  All Star  3254 non-null   int64
dtypes: float64(6), int64(20), object(4)
memory usage: 762.8+ KB

In [7]:
#Fill all the emapty values with 0
train_df = train_df.fillna(value=0)

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3254 entries, 0 to 3253
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rk        3254 non-null   int64
 1   Player    3254 non-null   object
 2   AB        3254 non-null   int64
 3   Year      3254 non-null   int64
 4   Age       3254 non-null   int64
 5   Tm        3254 non-null   object
 6   Lg        3254 non-null   object
 7   G         3254 non-null   int64
 8   PA        3254 non-null   int64
 9   R         3254 non-null   int64
 10  H         3254 non-null   int64
 11  2B        3254 non-null   int64
 12  3B        3254 non-null   int64
 13  HR        3254 non-null   int64
 14  RBI       3254 non-null   int64
 15  BB        3254 non-null   int64
 16  IBB       3254 non-null   int64
 17  SO        3254 non-null   int64
 18  HBP       3254 non-null   int64
 19  SH        3254 non-null   int64
 20  SF        3254 non-null   float64
 21  GDP       3254 non-null   float64
 22  SB        3254 non-null   int64
 23  CS        3254 non-null   int64
 24  BA        3254 non-null   float64
 25  OBP       3254 non-null   float64
 26  SLG       3254 non-null   float64
 27  OPS       3254 non-null   float64
 28  Pos       3254 non-null   object
 29  All Star  3254 non-null   int64
dtypes: float64(6), int64(20), object(4)
memory usage: 762.8+ KB

In [9]:
#Check to see if there any NaN values
train_df.isna()

,Rk,Player,AB,Year,Age,Tm,Lg,G,PA,R,...,SF,GDP,SB,CS,BA,OBP,SLG,OPS,Pos,All Star
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3249,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3250,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3251,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3252,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3253,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
#drop the name player column from the test dataset
test_df.drop("Player", axis = 1, inplace=True)

In [11]:
test_df.head()

,Rk,AB,Year,Age,Tm,Lg,G,PA,R,H,...,SF,GDP,SB,CS,BA,OBP,SLG,OPS,Pos,All Star
0,1,664,2021,32,KCR,AL,162,720,97,184,...,12,12,40,4,0.277,0.317,0.395,0.711,*49/7D,1
1,2,652,2021,30,TOR,AL,162,724,115,173,...,3,9,15,1,0.265,0.334,0.538,0.873,*46/D,1
2,3,640,2021,23,TOR,AL,159,690,121,191,...,4,10,25,1,0.298,0.344,0.484,0.828,*6D,1
3,4,629,2021,24,ATL,NL,156,686,103,163,...,7,4,20,4,0.259,0.311,0.488,0.799,*4,1
4,5,623,2021,29,DET,AL,156,674,85,173,...,8,15,2,0,0.278,0.321,0.435,0.756,*34D/5,1

In [12]:
#drop the name player column from the train dataset
train_df.drop("Player", axis = 1, inplace=True)
train_df.head()

,Rk,AB,Year,Age,Tm,Lg,G,PA,R,H,...,SF,GDP,SB,CS,BA,OBP,SLG,OPS,Pos,All Star
0,1,154,2020,21,WSN,NL,47,196,39,54,...,0.0,1.0,6,2,0.351,0.490,0.695,1.185,*7/9D,1
1,2,185,2020,39,MIN,AL,53,214,33,56,...,0.0,8.0,0,0,0.303,0.397,0.595,0.992,*D/H,1
2,3,195,2020,31,NYY,AL,50,216,41,71,...,1.0,3.0,3,0,0.364,0.421,0.590,1.011,*435/HD,1
3,4,199,2020,28,LAA,AL,53,241,41,56,...,4.0,1.0,1,1,0.281,0.390,0.603,0.993,*8/D,1
4,5,214,2020,30,ATL,NL,60,262,51,73,...,0.0,6.0,2,0,0.341,0.462,0.640,1.102,*3/HD,1

In [13]:
#Rename the All Star column to Classification in both test and train dataset
train_df.rename(columns={"All Star":"Classification"}, inplace=True)
test_df.rename(columns={"All Star":"Classification"}, inplace=True)
print(train_df.columns)
print(test_df.columns)

Index(['Rk', 'AB', 'Year', 'Age', 'Tm', 'Lg', 'G', 'PA', 'R', 'H', '2B', '3B',
       'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'GDP', 'SB', 'CS',
       'BA', 'OBP', 'SLG', 'OPS', 'Pos', 'Classification'],
      dtype='object')
Index(['Rk', 'AB', 'Year', 'Age', 'Tm', 'Lg', 'G', 'PA', 'R', 'H', '2B', '3B',
       'HR', 'RBI', 'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'GDP', 'SB', 'CS',
       'BA', 'OBP', 'SLG', 'OPS', 'Pos', 'Classification'],
      dtype='object')

In [14]:
train_df.drop(columns=["Tm", "Pos", "Lg"], axis = 1, inplace=True)

In [15]:
test_df.drop(columns=["Tm", "Pos", "Lg"], axis = 1, inplace=True)

In [16]:
print(train_df.columns)
print(test_df.columns)

Index(['Rk', 'AB', 'Year', 'Age', 'G', 'PA', 'R', 'H', '2B', '3B', 'HR', 'RBI',
       'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'GDP', 'SB', 'CS', 'BA', 'OBP',
       'SLG', 'OPS', 'Classification'],
      dtype='object')
Index(['Rk', 'AB', 'Year', 'Age', 'G', 'PA', 'R', 'H', '2B', '3B', 'HR', 'RBI',
       'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'GDP', 'SB', 'CS', 'BA', 'OBP',
       'SLG', 'OPS', 'Classification'],
      dtype='object')

In [17]:
def test_model(model, data):
    X_train_scaled, X_test_scaled, y_train, y_test = data
    reg = model.fit(X_train_scaled, y_train)
    print(f'Model: {type(reg).__name__}')
    print(f'Train score: {reg.score(X_train_scaled, y_train)}')
    print(f'Test Score: {reg.score(X_test_scaled, y_test)}\n')
    print(f'Train score: {reg.score(X_train_scaled, y_train)}')
    print(f'Test Score: {reg.score(X_test_scaled, y_test)}\n')
    plt.show()

In [18]:
X_train = train_df.drop(columns = ['Classification'])
y_train = train_df['Classification']

X_test = test_df.drop(columns = ['Classification'])
y_test = test_df['Classification']
print(X_train.columns)
print(X_test.columns)

Index(['Rk', 'AB', 'Year', 'Age', 'G', 'PA', 'R', 'H', '2B', '3B', 'HR', 'RBI',
       'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'GDP', 'SB', 'CS', 'BA', 'OBP',
       'SLG', 'OPS'],
      dtype='object')
Index(['Rk', 'AB', 'Year', 'Age', 'G', 'PA', 'R', 'H', '2B', '3B', 'HR', 'RBI',
       'BB', 'IBB', 'SO', 'HBP', 'SH', 'SF', 'GDP', 'SB', 'CS', 'BA', 'OBP',
       'SLG', 'OPS'],
      dtype='object')

In [25]:
#data = [X_train, X_test, y_train, y_test]
y_train.value_counts()

0    1800
1    1454
Name: Classification, dtype: int64

In [20]:
from sklearn.preprocessing import StandardScaler
train_scaler = StandardScaler()
#test_scaler = StandardScaler()
train_scaler = train_scaler.fit(X_train)

X_train_scaled = train_scaler.transform(X_train)
X_test_scaled = train_scaler.transform(X_test)
scaled_data = [X_train_scaled, X_test_scaled, y_train, y_test]

In [22]:
X_train_scaled
y_train

array([[-1.73151861e+00, -3.42859751e+00,  1.48084072e+00, ...,
         3.39933218e+00,  2.98148478e+00,  3.34353342e+00],
       [-1.73045404e+00, -3.12989211e+00,  1.48084072e+00, ...,
         1.11497914e+00,  1.79591828e+00,  1.68851006e+00],
       [-1.72938947e+00, -3.03353553e+00,  1.48084072e+00, ...,
         1.70448960e+00,  1.73663996e+00,  1.85143982e+00],
       ...,
       [ 1.72938947e+00, -4.12636544e-01, -1.84334510e+00, ...,
        -1.16937389e+00, -7.88616683e-01, -9.78392871e-01],
       [ 1.73045404e+00,  1.69675232e-03, -1.84334510e+00, ...,
        -8.74618663e-01, -1.44067826e+00, -1.35570390e+00],
       [ 1.73151861e+00, -1.33202460e-01, -1.84334510e+00, ...,
        -4.57048753e-01, -7.41194023e-01, -6.95409602e-01]])

In [27]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor, RandomForestClassifier
from sklearn.svm import SVR

In [28]:
#test_model(LinearRegression(), scaled_data)
test_model(RandomForestClassifier(), scaled_data)
test_model(LogisticRegression(), scaled_data)
test_model(ExtraTreesRegressor(), scaled_data)
test_model(AdaBoostRegressor(), scaled_data)
test_model(SVR(C=1.0, epsilon=0.2), scaled_data)
test_model(KNeighborsRegressor(), scaled_data)

Model: RandomForestClassifier
Train score: 1.0
Test Score: 0.7523452157598499

Model: LogisticRegression
Train score: 0.7433927473878303
Test Score: 0.726078799249531

/Users/b77077/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Model: ExtraTreesRegressor
Train score: 1.0
Test Score: -0.18024569712793692

Model: AdaBoostRegressor
Train score: 0.484790254489495
Test Score: -0.21955777099051477

Model: SVR
Train score: 0.5571764276794516
Test Score: -0.6329340257487663

Model: KNeighborsRegressor
Train score: 0.5322157420143663
Test Score: -1.023266144473455

In [29]:
#roc_auc_score(y_test, model.predict_proba(X_test)[:,1])
sks.metrics.SCORERS.keys()

dict_keys(['explained_variance', 'r2', 'max_error', 'neg_median_absolute_error', 'neg_mean_absolute_error', 'neg_mean_squared_error', 'neg_mean_squared_log_error', 'neg_root_mean_squared_error', 'neg_mean_poisson_deviance', 'neg_mean_gamma_deviance', 'accuracy', 'roc_auc', 'roc_auc_ovr', 'roc_auc_ovo', 'roc_auc_ovr_weighted', 'roc_auc_ovo_weighted', 'balanced_accuracy', 'average_precision', 'neg_log_loss', 'neg_brier_score', 'adjusted_rand_score', 'homogeneity_score', 'completeness_score', 'v_measure_score', 'mutual_info_score', 'adjusted_mutual_info_score', 'normalized_mutual_info_score', 'fowlkes_mallows_score', 'precision', 'precision_macro', 'precision_micro', 'precision_samples', 'precision_weighted', 'recall', 'recall_macro', 'recall_micro', 'recall_samples', 'recall_weighted', 'f1', 'f1_macro', 'f1_micro', 'f1_samples', 'f1_weighted', 'jaccard', 'jaccard_macro', 'jaccard_micro', 'jaccard_samples', 'jaccard_weighted'])

In [ ]:
params_grid = {'criterion' : ['gini','entropy'],
               'max_depth': [3,6,8,15],
               'max_leaf_nodes':[2,10,20,40,100],
               'max_features':['auto','log2'],
               'max_samples':[0.1,0.4,0.8,1],
               'min_samples_leaf': [5,50,100,200,400,1000],
               'min_samples_split': [5,10,100,1000,2000,3000],
               'n_estimators': [10,50,100,500]}

rf_grid_new = RandomizedSearchCV(RandomForestClassifier(n_jobs=-1,random_state=42),
                                 params_grid, n_iter= 400,  cv = 3, verbose=2, n_jobs = -1,
                                 scoring='roc_auc', return_train_score=True)

In [ ]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
lr = LogisticRegression(n_jobs=-1, random_state=42)

grid_values = {'penalty': ['l1','none', 'l2'], 'C': [0.001,0.01,0.1,1,10,100], 'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']}
model_lr = GridSearchCV(lr, param_grid=grid_values, 
                        cv = 2, verbose=3, n_jobs = -1, 
                        scoring='roc_auc',
                        return_train_score=True)